.popup{
    position: fixed;
    display: flex;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, .5);
    transition: visibility 0.6s, opacity 0.6s linear;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}