.profile__title {
    max-width: 415px;
    height: auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 21.78px;
    margin: 16px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:910px) {
    .profile__title {
        text-align: center;
        max-width: 550px;
        width: 100%;
    }
}

@media screen and (min-width:320px) and (max-width:600px) {
    .profile__title {
        font-size: 14px;
        line-height: 16.94px;
    }
}