.place__text{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    line-height: 29.05px;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}