.popup__btn {
    width: 358px;
    height: 50.15px;
    margin: 0 auto 36.5px;
    border: 0;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.popup__btn:hover {
    opacity: 0.8;
}

@media screen and (min-width:320px) and (max-width:900px) {
    .popup__btn {
        width: 238px;
        height: 46px;
        margin: 0 22px 25px;
    }
}