.btn__profile-add {
    width: 150px;
    height: 50px;
}

.btn__profile-add:hover {
    opacity: 0.6;
}


@media screen and (min-width:320px) and (max-width:600px) {
    .btn__profile-add {
        max-width: 282px;
        width: 100%;
        height: auto;
    }
}