.input__text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
    margin-bottom: 30px;
    max-width: 358px;
}

@media screen and (min-width:320px) and (max-width:910px) {
    .input__text{
        max-width: 238px;
        padding: 0;
        margin: 0 22px 46px;
    }
}