@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../fonts/fonts.css);

/* Header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* Main */
@import url(../blocks/main/main.css);

/* Profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile-wrapper/profile-wrapper.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__icon/profile__icon.css);
@import url(../blocks/profile/__btn/-add/profile__btn-add.css);
@import url(../blocks/profile/__btn/-edit/profile__btn-edit.css);


/* Pop-up */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__header/popup__header.css);
@import url(../blocks/popup/__input/popup__input-text.css);
@import url(../blocks/popup/__btn/-close/popup__btn-close.css);
@import url(../blocks/popup/__btn/-submit/popup__btn-submit.css);

/* Photo Grid */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__img/photo-grid__img.css);
@import url(../blocks/photo-grid/__places/photo-grid__places.css);
@import url(../blocks/photo-grid/__info/photo-grid__info.css);
@import url(../blocks/photo-grid/__btn/photo-grid__btn-hart.css);

/* Button */
@import url(../blocks/button/button.css);

/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);